@model IEnumerable<EmployeeDto>


@{
	ViewData["Title"] = "Employees";

}


<h1>Employees</h1>
<br />
<br />
<br />
<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">
	<i class="fas fa-plus"></i> Create New Employees
</a>
<br />

@if (Model.Count() > 0)
{
	<table class="table  table-striped table-hover mt-4">

		<thead>
			<tr>
				<th> @Html.DisplayNameFor(E => E.Name)</th>
				<th> @Html.DisplayNameFor(E => E.Email)</th>
				<th> @Html.DisplayNameFor(E => E.EmployeeType)</th>
				<th> @Html.DisplayNameFor(E => E.Age)</th>
				<th> @Html.DisplayNameFor(E => E.Salary)</th>
				<th> @Html.DisplayNameFor(E => E.IsActive)</th>
				<th> @Html.DisplayNameFor(E => E.Gender)</th>

				<th>Details</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>


		<tbody class="text-center">
			@foreach (var emp in Model)
			{
				<tr>
					<th> @Html.DisplayFor(E => emp.Name)</th>
					<th> @Html.DisplayFor(E => emp.Email)</th>
					<th> @Html.DisplayFor(E => emp.EmployeeType)</th>
					<th> @Html.DisplayFor(E => emp.Age)</th>
					<th> @Html.DisplayFor(E => emp.Salary)</th>
					<th> @Html.DisplayFor(E => emp.IsActive)</th>
					<th> @Html.DisplayFor(E => emp.Gender)</th>

					<partial name="_ButtonsPartial" model="emp.Id" />

				

				</tr>
				<div class="modal fade" id="DeleteEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel"> Delete Employee </h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<h5 class="modal-title" id="exampleModalLabel">Are U Sure to Delete @emp.Name Employee ?</h5>

							</div>
							<div class="modal-footer">
								<form asp-action="Delete" asp-route-DeptId="@emp.Id" method="post">
									<div asp-validation-summary="ModelOnly" class="text-danger">	</div>
									<div class="mt-4">

										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										<input type="submit" value="Delete" class="btn btn-danger" />
									</div>
								</form>
								@* <button type="button" class="btn btn-primary">Save changes</button> *@
							</div>
						</div>
					</div>
				</div>
			})
		</tbody>
	</table>
}
else
{
	<div class="alert alert-info mt-3">
		<h3>  There is  No Employees :(  </h3>
	</div>
}
